<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <form id="contactForm" onSubmit="formSubmit(); return false;">
        <input type="text" name="name" placeholder="Enter your name"/>
        <button type="submit">Submit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="javascript">
        function formSubmit() {
            console.log("inside formSubmit");
            const contactForm = document.getElementByID("contactForm");
        }
    </script>
</body>
</html>  